@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    .aspect-5-1 {
      aspect-ratio: 5 / 1;
    }
    .aspect-4-1 {
      aspect-ratio: 4 / 1;
    }
  }

  .bg-navbox {
    /* background-image: url("/svgs/navbox-bg.svg"); */
    background: "#navbox-bg";
    background-size: cover;
    background-position: center top;
  }
}
